.container {
  padding: 20px 10px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  padding: 15px;
  margin-bottom: 20px;

  .header-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .form {
    padding: 10px;
    text-align: center;

    .title__text {
      margin-bottom: 10px;
    }

    .list__success {
      color: rgba(33, 189, 33, 0.603)
    }

    .list__fails {
      color: rgba(179, 32, 32, 0.678);
    }

    .list__success,
    .list__fails {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      input {
        margin-bottom: 10px;
      }
    }

    .wrapper__list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0 -5px;

      .list__elem {
        flex: 1 1 auto;
        margin: 0 5px;
      }
    }

    .list__comment {
      border: 1px solid black;
      resize: none;
    }

    .list__button {
      display: flex;
      justify-content: center;

      input {
        margin: 5px 20px;
      }
    }
  }
}
